html,
body {
  padding: 0;
  margin: 0;
  font-family: vazir;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VAZIR";
  src: url("../public/fonts/vazir/Vazir.ttf");
}

textarea:focus, input:focus{
  outline: none;
}